#versiones{
    margin: 5%;
    padding: 2%;
    border: grey 1px solid;
    border-radius: 20px;
}

#versiones article div img{
    width: 100%;
}

#versiones article div p{
    padding: 2%;
    text-align: center;
}

/* GENERAL */
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Historia */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: antiquewhite;
}

#historia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 5%;
    padding: 1vw;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

h2, h4 {
    font-size: 1.5rem;
    text-align: center;
}



/*estilo Menu*/


/*estilo form*/
#form {
  margin: 16px 0;
  padding: 17px;
  max-width: 420px;
  box-sizing: border-box;
}

#formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#etiqueta-nombre,
#etiqueta-correo,
#etiqueta-mensaje {
  display: block;
  font-size: 0.95rem;
  margin-bottom: 4px;
  padding: 10px;
}

#nombre,
#correo,
#mensaje {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  outline: none;
  box-sizing: border-box;
}

#mensaje {
  resize: vertical;
  min-height: 80px;
}

/* Botón */
#boton-enviar {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95rem;
  background-color: #2b6cb0;
  color: white;
  align-self: flex-start; 
  margin-top: 20px;
}


#nombre:focus,
#correo:focus,
#mensaje:focus {
  box-shadow: 0 0 0 3px rgba(43,108,176,0.12);
  border-color: #2b6cb0;
}